<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <!-- Start paused, simulation will be started, when Pandas were loaded -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
  </include>

 <include file="$(find franka_gazebo)/launch/panda.launch">
   <arg name="arm_id"     value="panda_left" />
   <arg name="x"          value="-0.3" />
   <arg name="controller" value="cartesian_impedance_example_controller" />
   <arg name="rviz"       value="false" />
   <arg name="gazebo"     value="false" />
   <arg name="paused"     value="true" />
 </include>

 <include file="$(find franka_gazebo)/launch/panda.launch">
   <arg name="arm_id"     value="panda_right" />
   <arg name="x"          value="0.3" />
   <arg name="controller" value="cartesian_impedance_example_controller" />
   <arg name="rviz"       value="false" />
   <arg name="gazebo"     value="false" />
   <arg name="paused"     value="false" />
 </include>

 <include file="$(find simulation_objects)/launch/grasp_system.launch" />

</launch>